@media (min-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media only screen and (max-width: 768px) {
  .header__icon {
    display: inherit;
  }
  #nav .menu {
    display: none;
  }
  /* #nav .menu .menu-item:last-child {
    display: inherit;
  } */
  #nav .menu.toggle {
    position: absolute;
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
    color: #000;
    width: 100%;
    background-color: #666;
    right: 0;
    left: 0;
    /* transition: 0.5s; */
  }
  #nav .menu.toggle .menu-item {
    margin: 10px 0;
  }
  #nav .menu.toggle .menu-item .menu-link {
    padding: 5px 10px;
  }
  #feature .feature__main .feature__list,
  #feature .our__main .our__list {
    grid-template-columns: repeat(1, 1fr);
  }
  #feature .feature__main .feature__list .feature__item,
  #feature .our__main .our__list .our__item {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .form-group .form {
    flex-direction: column;
  }
  .icons-social {
    flex-wrap: wrap;
  }
  #slider .slider__overlay .slider__body .slider_action a {
    margin: 10px 0;
  }
}
