@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500;1,600;1,700&display=swap");

.btn--blue {
  background-color: #5bc0de;
}
.text--white {
  color: #fff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: "Poppins";
}

#header {
  background-color: #1c2b4b;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  min-height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 70px;
}
#nav {
  transition: 0.5s ease-out;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .menu .menu-item:last-child {
  display: none;
} */
.menu .menu-item {
  margin: 0 10px;
}
.menu .menu-item:hover .menu-link {
  color: #4e944f;
}
.menu .menu-item .menu-link {
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  /* border-bottom: 3px solid #55d8c1; */
}

.header__icon {
  margin-right: 20px;
  display: none;
}
.header__icon .icon-bar {
  color: #fff;
  padding: 5px 10px;
}
.header__icon:hover {
  background-color: #e9efc0;
  border-radius: 5px;
}
.header__icon:hover .icon-bar {
  color: #000;
}

.header__iconbar {
}

/* ---------------------------------- */
/*               slider               */
/* ---------------------------------- */

#slider {
  /* margin-top: 70px; */
  text-align: center;
  height: 70vh;
  position: relative;
}
#slider .slider__overlay {
  position: relative;
}
#slider .slider__overlay::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url("../img/background_image1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
}

#slider .slider__overlay {
  background-color: #1c2b4b;
  min-height: 70vh;
  z-index: 1;
}
#slider .slider__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#slider .slider__overlay .slider__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10;
  opacity: 1;
}
#slider .slider__overlay .slider__body .slider_action {
  margin: 50px 0;
  color: #fff;
}
#slider .slider__overlay .slider__body .slider_action a {
  display: inline-block;
}
.btn {
  padding: 10px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  opacity: 0.9;
  font-weight: bold;
}
#slider .slider__overlay .slider__body .slider_action .btn-primary {
  background-color: #5cb85c;
  color: #fff;
}
#slider .slider__overlay .slider__body .slider_action .btn-success {
  background-color: #5cb85c;
  color: #fff;
}
#slider .slider__overlay .slider__body .slider_action .btn:hover {
  opacity: 1;
}
#slider .slider__overlay .slider__body .title {
  font-size: 24px;
}
#slider .slider__overlay .slider__body .desc {
  font-size: 50px;
  position: relative;
}
#slider .slider__overlay .slider__body .desc::after {
  content: " ";
  position: absolute;
  height: 5px;
  width: 15vw;
  bottom: 0;
  background-color: #2f9484;
  left: 50%;
  transform: translateX(-50%);
}

/* ---------------------------------- */
/*               feature              */
/* ---------------------------------- */

#feature {
}
.tag__line {
  background-color: #e9e9e9;
  /* height: 60px; */
  /* text-align: center; */
}

.tag__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.tag__text i {
  margin: 0 10px;
}
.feature__main {
  margin-top: 60px;
}
.our__main {
  background-color: #000;
  color: #fff;
  margin-top: 100px;
}
.feature__main .feature__text,
.our__main .our__text {
  text-align: center;
}
.feature__main .feature__home .feature__title,
.our__main .our__home .our__title {
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
}
.feature__main .feature__home .feature__title::after,
.our__main .our__home .our__title::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 0;
  width: 200px;
  background-color: #2f9484;
  left: 50%;
  transform: translateX(-50%);
}
.feature__main .feature__home .feature__desc,
.our__main .our__home .our__desc {
  margin-top: 50px;
}

.feature__list,
.our__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  margin: 40px 0;
}
.feature__item a,
.our__item a {
  /* border: 2px double #2f9484; */
  margin-top: 30px;
}
.feature__item .icon--border,
.our__item .icon--border {
  border: 10px double #1a94c4;
  color: #2f9484;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-top: 10px;
  text-align: center;
}
.feature__item .icon--border:hover,
.our__item .icon--border:hover {
  color: #fff;
  background-color: #1a94c4;
  border: 10px double #fff;
}
.feature__item__title,
.our__item__title {
  position: relative;
  font-weight: bold;
  margin: 20px 0;
}
.feature__item hr,
.our__item hr {
  border: 1px solid #1a94c4;
  margin: 20px 0;
}
.feature__item__desc,
.our__item__desc {
  margin: 20px 0;
}
.feature__btn:hover,
.our__btn:hover {
  background-color: #270082;
  transition: all 0.2s linear;
}

/* ---------------------------------- */
/*              our__main             */
/* ---------------------------------- */

.our__title {
  padding: 10px 0;
}
/* .our__list .out__item img {
  height: 200px;
  width: 200px;
} */
.our__list .our__item span {
  font-size: 18px;
  font-weight: 700;
}
.img--border {
  border: 10px double #1a94c4;
  object-fit: cover;
  max-height: 300px;
}
.our__item {
  position: relative;
  padding: 0 10px;
}
.our__item::after {
  content: " ";
  position: absolute;
  display: block;
  clear: both;
}

/* ---------------------------------- */
/*               contact              */
/* ---------------------------------- */

.contact--before {
  position: relative;
  height: 80vh;
  background-color: #1a1a40;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.contact--before::before {
  content: "";
  background-image: url("../img/look_book.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.wp-contact {
  flex-direction: column;
  position: relative;
}
.contact__title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  text-transform: uppercase;
  position: relative;
}
.contact__title:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 15vw;
  background-color: #2f9484;
  bottom: 0;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.contact__desc {
  line-height: 1.5;
}

.form-control {
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  box-shadow: inset 0 1px 1px rgba(0 0 0);
  color: #999;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #1a1a40;
  opacity: 0.5;
}
.submit {
  background-color: #eeeeee;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 100%;
}
.submit:hover {
  background-color: #4e9f3d;
  color: #fff;
}

/* ---------------------------------- */
/*               footer               */
/* ---------------------------------- */

.icons-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-floating {
  border: 2px solid #000;
  border-radius: 50%;
  margin: 20px 10px;
}
.btn-outline-light {
  border: 1px solid #000;
  border-radius: 5px;
}
.form-control-row {
  margin: 0 5px;
  padding: 10px 16px;
}
.form-control-row input {
  border: 1px solid #000;
  border-radius: 5px;
}
.form-control-row button[type="submit"]:hover {
  background-color: #112d4e;
  color: #fff;
}
.icons-social a:hover {
  background-color: #4e9f3d;
  color: #fff;
}
